.badge-box-1 {
  width: 20px;
  height: 20px;
  border: 1px solid #ff6929;
  background-color: #ff6929;
}
.badge-box-2 {
  width: 20px;
  height: 20px;
  border: 1px solid #ff9b70;
  background-color: #ff9b70;
}
.badge-box-3 {
  width: 20px;
  height: 20px;
  border: 1px solid #ffd1bd;
  background-color: #ffd1bd;
}
.badge-box-4 {
  width: 20px;
  height: 20px;
  border: 1px solid #e6e8ee;
  background-color: #e6e8ee;
}
